<app-breadcrumb [title]="'Forget Password'" [parent]="{name: 'Login', link: '/pages/login'}" [breadcrumb]="'Forget Password'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forgot Your Password?</h2>
                <h4>Enter email associated with your account.</h4>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input [formControl]="email" type="text" class="form-control" id="email" placeholder="Enter Your Email" required="">
                            <div class="text text-danger mb-3" *ngIf="email.value && userNotFound">
                                No record of a customer with that email
                            </div>
                        </div>
                        <button class="btn btn-solid" (click)="sendPasswordResetEmail(email.value)" [disabled]="email.errors?.required || email.errors?.email">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->