<!--modal popup start-->
<ng-template class="theme-modal" #newsletter let-modal>
    <div class="modal-content">
        <div class="modal-body modal7">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-bg">
                            <button type="button" class="close"  aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="offer-content"><img src="assets/images/offer-banner-1.png" class="img-fluid" alt="">
                                <h2>get the newsletter</h2>
                                <h4 class="text-center">Subscribe and save</h4>
                                <form class="auth-form needs-validation" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                    <div class="form-group mx-sm-3">
                                        <input type="text" class="form-control" name="EMAIL" #email id="mce-EMAIL" placeholder="Enter your email" required="required">
                                        <button type="button" class="btn btn-solid" id="mc-submit" (click)="addSubscriber(email.value);modal.close(email.value)">subscribe</button>
                                    </div>
                                </form>
                                <p class="text-center mt-5 mb-0">Your data will only be used to help Tai-Dye Studios give you a better shopping experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--modal popup end-->