<!--modal popup start-->
<ng-template class="theme-modal" #newsletter let-modal>
    <div class="modal-content">
        <div class="modal-body modal7">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-bg">
                            <button type="button" class="close"  aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="offer-content"><img src="assets/images/offer-banner-1.png" class="img-fluid" alt="">
                                <h2>Get The Newsletter</h2>
                                <h4 class="text-center">includes updates, special offers and *VIP savings!</h4>
                                <form [formGroup]="embeddedSubscriberForm" class="auth-form needs-validation" id="embedded-subscribe-form" name="embedded-subscribe-form" target="_blank">
                                    <div class="form-group mx-sm-3">
                                        <input type="email" class="form-control" name="EMAIL" [formControl]="embeddedSubscriberForm.controls['email']" id="mce-EMAIL" placeholder="Enter your email" required="required">
                                        <button type="button" class="btn btn-solid" id="mc-submit" (click)="addSubscriber(embeddedSubscriberForm.value.email)" [disabled]="embeddedSubscriberForm.invalid">subscribe</button>
                                    </div>
                                    <p class="text text-danger mt-3 text-center" *ngIf="subscriberError">
                                        Oops! You're already subscribed!
                                    </p>
                                </form>
                                    <p class="text-center mt-3 mb-0" style="font-size: .8em;">*Savings availabe for a limited time to subscribers only</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--modal popup end-->