<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form" name="loginForm">
                        <div class="form-group">
                            <label for="email">email</label>
                            <input [formControl]="loginForm.controls['email']" type="email" class="form-control" id="regEmail"
                                name="email" placeholder="Email" autocomplete="off">
                            <div *ngIf="loginForm?.controls.email.touched && loginForm.controls.email.errors?.required"
                                class="text text-danger mb-3">
                                Email is required.
                            </div>
                            <div *ngIf="loginForm.controls?.email.touched && loginForm.controls?.email.errors?.email"
                                class="text text-danger mb-3">
                                Invalid Email
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="regPassword">Password</label>
                            <input [formControl]="loginForm.controls['password']" [type]="showPassword ? 'text':'password'"
                                class="form-control" id="regPassword" [pattern]="passReg" name="password" placeholder="Enter your password"
                                autocomplete="off">
                                <button class="btn btn-addon" (click)="toggleShowPassword()"><i class="fa"
                                    [ngClass]="showPassword ? 'fa-eye-slash':'fa-eye'"></i></button>
                            <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
                                class="text text-danger mb-3">
                                Password is required.
                            </div>
                            <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.pattern"
                                class="text text-danger mb-3">
                                Password must be 6-16 characters, and include at least ONE letter AND ONE number AND ONE special character
                                (!@#$%^&*).
                            </div>
                        </div>
                        <div *ngIf="loginError.message">
                            <div class="d-flex justify-content-start border border-danger p-3 mb-3">
                                <div class="text text-danger">
                                    {{loginError.message}} Try something else.
                                </div>
                                <button class="text-dark btn btn-link btn-small"
                                    (click)="clearLoginError()">ok</button>
                            </div>

                        </div>
                        <div class="d-flex justify-content-start align-items-center">

                            <button class="btn btn-solid mr-3" [disabled]="loginForm.invalid" (click)="loginWithEmailAndPassword()">Login</button>
                            <a class="btn btn-link" [routerLink]="['/pages/forget/password']">Forgot Password</a>
                        </div>
                        <div class="form-footer">
                            <span>Or Login with social platforms</span>
                            <ul class="social">
                                <li *ngFor="let provider of authProviders" (click)="loginWithProvider(provider.name)"><a class="fa" [ngClass]="provider.icon" href="javascript:void(0)"></a></li>
                            </ul>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create Free Account</h6>
                    <p>Sign up for a free account with our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click 'CREATE MY ACCOUNT'.</p>
                    <button class="btn btn-solid" (click)="goToRegistration()">Create my Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->