<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form" name="loginForm" #loginForm="ngForm">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input [(ngModel)]="loginModel.email" #email="ngModel" name="loginEmail" type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <label for="review">Password</label>
                            <input [(ngModel)]="loginModel.password" #password="ngModel" name="loginPassword" type="password" class="form-control" id="review" placeholder="Enter your password" required="">
                        </div>
                        <button class="btn btn-solid" [disabled]="loginForm.invalid" (click)="loginWithEmailAndPassword(email.value, password.value)">Login</button>
                        <div class="form-footer">
                            <span>Or Login with social platforms</span>
                            <ul class="social">
                                <li (click)="loginWithProvider('facebook')"><a class="fa fa-facebook" href="javascript:void(0)"></a></li>
                                <li (click)="loginWithProvider('google')"><a class="fa fa-google" href="javascript:void(0)"></a></li>
                                <!-- <li><a class="fa fa-twitter" href="javascript:void(0)"></a></li>
                                <li><a class="fa fa-instagram" href="javascript:void(0)"></a>
                                </li>
                                <li><a class="fa fa-pinterest" href="javascript:void(0)"></a>
                                </li> -->
                            </ul>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create Free Account</h6>
                    <p>Sign up for a free account with our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click 'CREATE MY ACCOUNT'.</p>
                    <button class="btn btn-solid" (click)="goToRegistration()">Create my Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->