<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>
<section class="section-b-space">
  <div class="container padding-cls">
    <div class="checkout-page">
      <div class="checkout-form">
        <form>
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-title">
                <h3>Shipping Details</h3>
              </div>
              <div class="row check-out">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="defaultShipping" [formControl]="useDefaultShippingAddress" [value]="true">
                  <label class="form-check-label" for="defaultShipping">Use Default Shipping Address</label>
                </div>
                <hr>
              </div>
              <div *ngIf="useDefaultShippingAddress.value === true && shippingDetails | async as shippingDefault">
              <div class="row check-out">
                <div class="box">
                  <div class="box title"><h4>Default Shipping Address</h4></div>
                  <hr class="">
                  <div class="box-content">
                    <address>
                      <strong>{{shippingDefault.firstname | titlecase}} {{shippingDefault.lastname | titlecase}}</strong><br>
                      <strong>{{shippingDefault.street}}</strong><br>
                      <strong>{{shippingDefault.city}}, {{shippingDefault.stateOrProvince}}</strong><br>
                      <strong>{{shippingDefault.zipcode}} {{shippingDefault.country}}</strong>
                    </address>
                  </div>
                </div>
              </div>
              <div class="row check-out">
                <div class="box">
                  <div class="box-title"><h4>Default Contact Info</h4></div>
                  <hr>
                  <div class="box-content">
                    <address>
                      <i class="fa fa-phone text-primary"></i>&nbsp; <strong>{{shippingDefault.phone}}</strong><br>
                      <i class="fa fa-envelope text-primary"></i>&nbsp; <strong>{{shippingDefault.email | lowercase}}</strong>
                    </address>
                  </div>
                </div>
              </div>
              </div>
              <div class="row check-out" *ngIf="!useDefaultShippingAddress.value">
                <div class="form-group col-12 mb-3">
                  <h4><strong>Ship To: </strong></h4>
                  <p>
                    (<b class="text-danger">*</b>) Indicates a required field
                  </p>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">First Name <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="firstname"
                    [formControl]="checkoutForm.controls['firstname']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.firstname.touched &&
                      checkoutForm.controls.firstname.errors?.required
                    "
                    class="text text-danger"
                  >
                    First Name is required.
                  </div>
                  <div
                    *ngIf="
                      checkoutForm.controls.firstname.touched &&
                      checkoutForm.controls.firstname.errors?.pattern
                    "
                    class="text text-danger"
                  >
                    Field may not contain non-alphabetic characters.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Last Name <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="lastname"
                    [formControl]="checkoutForm.controls['lastname']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.lastname.touched &&
                      checkoutForm.controls.lastname.errors?.required
                    "
                    class="text text-danger"
                  >
                    Last Name is required.
                  </div>
                  <div
                    *ngIf="
                      checkoutForm.controls.lastname.touched &&
                      checkoutForm.controls.lastname.errors?.pattern
                    "
                    class="text text-danger"
                  >
                    Last Name must be an alphabates.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Phone <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="phone"
                    [formControl]="checkoutForm.controls['phone']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.phone.touched &&
                      checkoutForm.controls.phone.errors?.required
                    "
                    class="text text-danger"
                  >
                    Phone No is required.
                  </div>
                  <div
                    *ngIf="
                      checkoutForm.controls.phone.touched &&
                      checkoutForm.controls.phone.errors?.pattern
                    "
                    class="text text-danger"
                  >
                    Phone No is must be number.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Email Address <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="email"
                    [formControl]="checkoutForm.controls['email']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.email.touched &&
                      checkoutForm.controls.email.errors?.required
                    "
                    class="text text-danger"
                  >
                    Email is required
                  </div>
                  <div
                    *ngIf="
                      checkoutForm.controls.email.touched &&
                      checkoutForm.controls.email.errors?.email
                    "
                    class="text text-danger"
                  >
                    Invalid Email
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Country <b class="text-danger">*</b></div>
                  <select
                    name="country"
                    [formControl]="checkoutForm.controls['country']"
                  >
                    <option value="" selected>Select Country</option>
                    <option value="Canada">Canada</option>
                    <option value="USA">USA</option>
                    <option value="Mexico">Mexico</option>
                  </select>
                  <div
                    *ngIf="
                      checkoutForm.controls.country.touched &&
                      checkoutForm.controls.country.errors?.required
                    "
                    class="text text-danger"
                  >
                    Country is required
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Street - Suite/Apt <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="address"
                    [formControl]="checkoutForm.controls['street']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.street.touched &&
                      checkoutForm.controls.street.errors?.required
                    "
                    class="text text-danger"
                  >
                    Address is required
                  </div>
                  <div
                    *ngIf="
                      checkoutForm.controls.street.touched &&
                      checkoutForm.controls.street.errors?.maxlength
                    "
                    class="text text-danger"
                  >
                    Maximum 50 character
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Town/City <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="city"
                    [formControl]="checkoutForm.controls['city']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.city.touched &&
                      checkoutForm.controls.city.errors?.required
                    "
                    class="text text-danger"
                  >
                    City is required
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">State <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="state"
                    [formControl]="checkoutForm.controls['state']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.state.touched &&
                      checkoutForm.controls.state.errors?.required
                    "
                    class="text text-danger"
                  >
                    State is required
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">Zip Code <b class="text-danger">*</b></div>
                  <input
                    type="text"
                    name="zipcode"
                    [formControl]="checkoutForm.controls['zipcode']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.zipcode.touched &&
                      checkoutForm.controls.zipcode.errors?.required
                    "
                    class="text text-danger"
                  >
                    Postalcode is required
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary mr-3"(click)="updateShippingInfo(true)">Cancel</button>
                    <button class="btn btn-solid" [disabled]="checkoutForm.invalid" (click)="updateShippingInfo(false, checkoutForm.value)">Update</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-details">
                <div class="order-box">
                  <div class="title-box">
                    <div>Product <span> Total</span></div>
                  </div>
                  <ul class="qty" *ngIf="products.length">
                    <li *ngFor="let product of products" class="d-flex align-items-center justify-content-between">
                      <span class="w-50">
                        <a class="btn-product-info px-3 btn btn-xs btn-light bg-primary rounded-circle shadow-sm" href="javascript:void(0)" placement="top"
                        [ngbPopover]="'SIZE: ' + product.size + ' &nbsp;  ' + 'QUANTITY: ' + product.quantity + ' &nbsp; ' + 'PRICE: ' + product.price" [popoverTitle]="product.title"><i class="fa fa-info text-white"></i></a><img [src]="product.images[0].src" class="rounded mr-3" width="90" alt=""> × {{ product.quantity }}</span>
                      <span>
                        {{
                          (product.price | discount: product) *
                            productService?.Currency.price
                            | currency
                              : productService?.Currency.currency
                              : 'symbol'
                        }}
                      </span>
                    </li>
                  </ul>
                  <ul class="qty" *ngIf="!products.length">
                    <li class="empty-checkout">
                      There are no products in cart
                    </li>
                  </ul>
                  <ul class="sub-total">
                    <li>
                      Subtotal
                      <span class="count">{{
                        getSubTotal
                          | async
                          | currency: productService?.Currency.currency:'symbol'
                      }}</span>
                    </li>
                    <li>
                      Sales Tax
                      <span class="count">{{
                        getSalesTax
                          | async
                          | currency: productService?.Currency.currency:'symbol'
                      }}</span>
                    </li>
                    <li *ngIf="products.length">
                      Shipping
                      <span class="count">{{
                        getShippingTotal
                          | async
                          | currency: productService?.Currency.currency:'symbol'
                      }}</span>
                      <div class="shipping">
                        <div class="shopping-option pl-0">
                          <input
                            type="checkbox"
                            [value]="true"
                            [checked]="false"
                            [formControl]="localPickup"
                            name="localPickup"
                            id="localPickup"
                          />
                          <label for="localPickup">local Pickup</label>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="shopping-option coupon-block">
                    <div class="form-group mx-sm-3">
                      <div class="row">
                        <input
                          style="height: 50px"
                          [formControl]="couponCode"
                          type="text"
                          name="couponCode"
                          id="couponCode"
                          class="col-8 form-control"
                          [placeholder]="
                            (productService.coupon | async) && couponCode.value?.length
                              ? (productService.coupon | async).couponCode
                              : 'Coupon Code'
                          "
                          title="Coupon Code Input (Optional)"
                        />
                        <button
                          *ngIf="!(productService.coupon | async)"
                          type="button"
                          class="col-4 btn btn-solid"
                          (click)="runCoupon(couponCode.value)"
                          [disabled]="!couponCode.value || couponCode.value && couponCode.value.length < 4"
                        >
                          Add
                        </button>
                        <button
                          *ngIf="productService.coupon | async"
                          type="button"
                          class="col-4 btn btn-solid"
                          (click)="removeCoupon()"
                        >
                          Remove
                        </button>
                        <!-- <span class="my-auto font-weight-bolder col-2"><a title="Remove Coupon" href="javascript:void(0)" *ngIf="productService.coupon | async" (click)="removeCoupon()"><i class="fa fa-trash text-dark"></i></a></span> -->
                      </div>
                    </div>
                    <div *ngIf="productService.coupon | async">
                      <p>
                        <b
                          >You Save:
                          {{
                            getAmountSaved()
                              | async
                          }}</b
                        >
                        <b
                          *ngIf="
                            (productService.coupon | async).type === 'CASH'
                          "
                        >
                          Off Each Item</b
                        >
                        <b *ngIf="
                                                    (productService.coupon | async).type === 'SHIPPING'
                                                  ">
                          Off Shipping</b>
                          <b *ngIf="
                                                      (productService.coupon | async).type === 'PERCENTAGE'
                                                    ">
                            Off Purchase</b>
                      </p>
                      <div class="title1 title5">
                          <!-- <div class="line"></div> -->
                        <h4>
                          {{
                            (productService.coupon | async).description
                              | uppercase
                          }}
                        </h4>
                        <hr role="tournament6" />
                      </div>
                      <!-- <h6 class="text-left animate fast fadeInDownBig text-primary">
                                                                                                                                {{(productService.coupon | async).description | uppercase}}</h6>
                                                                                                                                <div class="line"></div> -->
                    </div>
                    <p
                      *ngIf="productService.CouponInvalid | async"
                      class="text-center text-danger animate fast fadeInDownBig"
                    >
                      Sorry, that is not a valid coupon code. Please, try again.
                    </p>
                  </div>
                  <ul class="total">
                    <li>
                      Total
                      <span class="count">{{
                        getGrandTotal
                          | async
                          | currency: productService?.Currency.currency:'symbol'
                      }}</span>
                    </li>
                  </ul>
                </div>

                <div class="payment-box" *ngIf="products.length">
                  <!-- <div class="upper-box">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Stripe'"  name="payment-group" id="payment-2">
                                                        <label for="payment-2">Stripe
                                                            <span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Paypal'" name="payment-group" id="payment-3">
                                                        <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <div class="d-flex justify-content-center">
                                      <img class="" *ngIf="paypalLoading && (shippingDetails | async)" src="assets/images/loader.gif" alt="">

                                    </div>
                  <div class="text-right">
                    <!-- <button type="submit" class="btn-solid btn" [disabled]="!checkoutForm.valid" (click)="stripeCheckout()" *ngIf="payment == 'Stripe'">
                                           Place Order
                                        </button> -->

                    <ngx-paypal
                      #paypal
                      [config]="payPalConfig"
                      *ngIf="payment === 'Paypal'"
                    ></ngx-paypal>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
