<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>PERSONAL DETAIL</h3>
                <form class="theme-form" name="profileDataForm" #profileDataForm="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="fname">First Name</label>
                            <input name="fname" [(ngModel)]="profileDataModel.fName" type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input name="lname" [(ngModel)]="profileDataModel.lName" type="text" class="form-control" id="last-name" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input name="phone" [(ngModel)]="profileDataModel.phone" type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input name="email" [(ngModel)]="profileDataModel.email" type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control mb-0" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- address section start -->
<section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>SHIPPING ADDRESS</h3>
                <form class="theme-form" name="profileShippingDataForm" #profileShippingDataForm="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="shippingAddress1">Address Line 1*</label>
                            <input name="shippingAddress1" [(ngModel)]="profileDataModel.address.street" type="text" class="form-control" id="address-one" placeholder="Street Line 1" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="address2">Address Line 2</label>
                            <input name="address2" [(ngModel)]="profileDataModel.address.street2" type="text" class="form-control" id="address-two" placeholder="Street Line 2 - Apt/Suite #">
                        </div>
                        <div class="col-md-6">
                            <label for="zip-code">Zip Code *</label>
                            <input name="zip-code" [(ngModel)]="profileDataModel.address.zipcode" type="text" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>
                        <div class="col-md-6 select_input">
                            <label for="country">Country *</label>
                            <select name="country" [(ngModel)]="profileDataModel.address.country" class="form-control" size="1">
                                <option value="USA">USA</option>
                                <option value="Canada">Canada</option>
                                <option value="Mexico">Mexico</option>
                                <option value="U.K.">U.K.</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="city">City *</label>
                            <input name="city" [(ngModel)]="profileDataModel.address.city" type="text" class="form-control" id="city" placeholder="City" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="stateOrProvince">Region/State *</label>
                            <input name="stateOrProvince" [(ngModel)]="profileDataModel.address.stateOrProvince" type="text" class="form-control" id="shippingStateOrProvince" placeholder="Province/State" required="">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid" type="submit" (click)="updateProfile(profileDataModel.id, profileDataModel, profileDataForm)" [disabled]="profileShippingDataForm.invalid">Save setting</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->