<ul class="product-social">
    <li>
      <a href="https://www.facebook.com/taidyestudios">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/discover">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/Tai_Dye_Studios">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/tai_dye_studios">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
</ul>