<app-breadcrumb [title]="'FAQ'" [breadcrumb]="'FAQ'"></app-breadcrumb>
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ngb-accordion [closeOthers]="true" [activeIds]="activeIds" class="accordion theme-accordion" id="faqAccordion">
                    <ngb-panel *ngFor="let tab of faqBlock; let i = index;" [id]="tab.id" [title]="tab.title">
                        <ng-template ngbPanelContent>
                            <div [innerHTML]="tab.content | safeHtml"></div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>

            </div>
        </div>
    </div>
</section>
<!--Section ends-->