<!--modal popup start-->
<ng-template id="alertModal" class="theme-modal" #alertModal let-modal>
    <div class="modal-content">
        <div class="modal-body modal8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-bg">
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="helper-content">
                                <p>Qui amet proident cillum commodo pariatur excepteur sit consectetur cillum
                                    consectetur in non. Laborum pariatur do elit aute culpa sint et est duis voluptate
                                    consectetur. Id consequat duis culpa proident officia sint officia. Nulla commodo
                                    tempor do ipsum anim in aute excepteur. Et proident reprehenderit laboris voluptate
                                    consectetur adipisicing velit magna aliqua occaecat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--modal popup end-->